<div class="homepage">
    <h1>Nicolas et Louise-Amélie</h1>
    <div class="main-text">
        <p>VOUS INVITE</p>
        <p>A LA CELEBRATION</p>
        <p>DE LEUR</p>
        <p>MARIAGE</p>
        <p>10.08.2024</p>
    </div>
    <button>RSVP</button>
</div>